main {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 15px;
    grid-gap: 5px;
    grid-auto-rows: minmax(60px,auto);
}

article {
    background-color: white;
    text-align: center;
}
h3 {
    position: relative;
}